* {
    padding: 0;
    margin: 0;
}

body {
    background: black;
}

.planet,
.sun {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: var(--size);
    width: var(--size);
}

.sun {
    --size: calc(1vmin * 10);
    top: calc(50vh - (var(--size) / 2));
    left: calc(50vw - (var(--size) / 2));
}

.planet {
    animation: rotation var(--rotduration) linear infinite;
    top: calc(50vh - var(--size) / 2);
}

.mercury {
    --size: 1vmin;
    left: calc(50vw + 6.5vmin);
    --rotduration: 15s;
    transform-origin: -6.5vmin;
}

.venus {
    --size: calc(1vmin * 1.5);
    left: calc(50vw + 9vmin);
    --rotduration: 19s;
    transform-origin: -9vmin;
}

.earth {
    --size: calc(1vmin * 2);
    left: calc(50vw + 12vmin);
    --rotduration: 24s;
    transform-origin: -12vmin;
}

.mars {
    --size: calc(1vmin * 1.5);
    left: calc(50vw + 15.5vmin);
    --rotduration: 30s;
    transform-origin: -15.5vmin;
}

.jupiter {
    --size: calc(1vmin * 8);
    left: calc(50vw + 18.5vmin);
    --rotduration: 37s;
    transform-origin: -18.5vmin;
}

.saturn {
    --size: calc(1vmin * 7);
    left: calc(50vw + 28vmin);
    --rotduration: 45s;
    transform-origin: -28vmin;
}

.uranus {
    --size: calc(1vmin * 4);
    left: calc(50vw + 35.5vmin);
    --rotduration: 54s;
    transform-origin: -35.5vmin;
}

.neptune {
    --size: calc(1vmin * 4);
    left: calc(50vw + 41vmin);
    --rotduration: 64s;
    transform-origin: -41vmin;
}

.pluto {
    --size: calc(1vmin * 1);
    left: calc(50vw + 46.5vmin);
    --rotduration: 75s;
    transform-origin: -46.5vmin;
}

img {
    max-width: 100%;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.path {
    position: fixed;
    border-radius: 50%;
    border: 0.5px dashed rgb(150, 145, 145);
    height: var(--pathsize);
    width: var(--pathsize);
    top: calc(50vh - (var(--pathsize)/2) - 1px);
    left: calc(50vw - (var(--pathsize)/2) - 1px);
}

.mercurypath {
    --pathsize: calc(1vmin * 14);
}

.venuspath {
    --pathsize: calc(1vmin * 19.5);
}

.earthpath {
    --pathsize: calc(1vmin * 26);
}

.marspath {
    --pathsize: calc(1vmin * 32.5);
}

.jupiterpath {
    --pathsize: calc(1vmin * 45);
}

.saturnpath {
    --pathsize: calc(1vmin * 63);
}

.uranuspath {
    --pathsize: calc(1vmin * 75);
}

.neptunepath {
    --pathsize: calc(1vmin * 86);
}

.plutopath {
    --pathsize: calc(1vmin * 94);
}