* {
    padding: 0;
    margin: 0;
}

body {
    background: black;
}

.planet,
.sun {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: var(--size);
    width: var(--size);
}

.sun {
    --size: 10vmin;
    top: calc(50vh - (var(--size) / 2));
    left: calc(50vw - (var(--size) / 2));
}

.planet {
    animation: rotation var(--rotduration) linear infinite;
    top: calc(50vh - var(--size) / 2);
}

.mercury {
    --size: 2vmin;
    left: calc(50vw + 6vmin);
    --rotduration: 15s;
    --rotorigin: -6vmin;
}

.venus {
    --size: 2vmin;
    left: calc(50vw + 8.75vmin);
    --rotduration: 19s;
    --rotorigin: -8.75vmin;
}

.earth {
    --size: 3vmin;
    left: calc(50vw + 11.5vmin);
    --rotduration: 24s;
    --rotorigin: -11.5vmin;
}

.mars {
    --size: 2vmin;
    left: calc(50vw + 15.25vmin);
    --rotduration: 30s;
    --rotorigin: -15.25vmin;
}

.jupiter {
    --size: 8vmin;
    left: calc(50vw + 18.5vmin);
    --rotduration: 37s;
    --rotorigin: -18.5vmin;
}

.saturn {
    --size: 7vmin;
    left: calc(50vw + 28vmin);
    --rotduration: 45s;
    --rotorigin: -28vmin;
}

.uranus {
    --size: 4vmin;
    left: calc(50vw + 35.5vmin);
    --rotduration: 54s;
    --rotorigin: -35.5vmin;
}

.neptune {
    --size: 4vmin;
    left: calc(50vw + 41vmin);
    --rotduration: 64s;
    --rotorigin: -41vmin;
}

.pluto {
    --size: 2vmin;
    left: calc(50vw + 46vmin);
    --rotduration: 75s;
    --rotorigin: -46vmin;
}

img {
    max-width: 100%;
    animation: spin 2s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
        transform-origin: var(--rotorigin);
    }

    to {
        transform: rotate(-360deg);
        transform-origin: var(--rotorigin);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        transform-origin: center;
    }

    to {
        transform: rotate(360deg);
        transform-origin: center;
    }
}

.spin{
    animation: spin var(--rotduration) linear infinite;
}

.name {
    color: white;
    font-size: calc(1.5vmin);
}

.sunname {
    top: calc(50vh - (var(--size) / 2) + 10vmin/2);
}

.mercuryname {
    top: calc(50vh - (var(--size) / 2) + 3vmin/2);
}

.venusname {
    top: calc(50vh - (var(--size) / 2) + 3vmin/2);
}

.earthname {
    top: calc(50vh - (var(--size) / 2) + 4vmin/2);
}

.marsname {
    top: calc(50vh - (var(--size) / 2) + 3vmin/2);
}

.jupitername {
    top: calc(50vh - (var(--size) / 2) + 10vmin/2);
}

.saturnname {
    top: calc(50vh - (var(--size) / 2) + 6vmin/2);
}

.uranusname {
    top: calc(50vh - (var(--size) / 2) + 5vmin/2);
}

.neptunename {
    top: calc(50vh - (var(--size) / 2) + 5vmin/2);
}

.plutoname {
    top: calc(50vh - (var(--size) / 2) + 3vmin/2);
}

.path {
    position: fixed;
    border-radius: 50%;
    border: 0.5px dotted rgb(150, 145, 145);
    height: var(--pathsize);
    width: var(--pathsize);
    top: calc(50vh - (var(--pathsize)/2) - 1px);
    left: calc(50vw - (var(--pathsize)/2) - 1px);
}

.mercurypath {
    --pathsize: calc(1vmin * 14);
}

.venuspath {
    --pathsize: calc(1vmin * 19.5);
}

.earthpath {
    --pathsize: calc(1vmin * 26);
}

.marspath {
    --pathsize: calc(1vmin * 32.5);
}

.jupiterpath {
    --pathsize: calc(1vmin * 45);
}

.saturnpath {
    --pathsize: calc(1vmin * 63);
}

.uranuspath {
    --pathsize: calc(1vmin * 75);
}

.neptunepath {
    --pathsize: calc(1vmin * 86);
}

.plutopath {
    --pathsize: calc(1vmin * 94);
}